<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>设计你的玉米卷!</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:object="${design}">
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>选择卷饼：</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">成分</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>选择你的蛋白质：</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">成分</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h3>选择奶酪：</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">成分</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>选择蔬菜：</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">成分</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>选择你的酱汁：</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">成分</span><br/>
            </div>
        </div>
    </div>

    <div>

        <h3>命名你的玉米卷创作：</h3>
        <input type="text" th:field="*{name}"/>
        <br/>

        <button>提交</button>
    </div>
</form>
</body>
</html>